<footer class="footer">
    <section class="seccion-footer">
        <div class="container-footer">
            <div class="redes-sociales">
                <img class="logo-footer" src="images/logo.png" alt="logo-footer">
                <p>Síguenos en:</p>
                <ul class="Iconos-redes">
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-whatsapp"></i>
                    </li>
                </ul>
            </div>
            <div class="interaccion">
                <div class="ayuda">
                    <h2 class="help">AYUDA</h2>
                    <ul>
                            <p>Preguntas frecuentes</p>
                            <p>Términos y condiciones</p>
                            <p>Información de envíos</p>
                    </ul>
                    <i class="fa-sharp fa-solid fa-plus"></i> 
                </div>        
                <div class="contáctanos">
                    <h2 class="contact">CONTÁCTANOS</h2>
                    <ul>
                            <p>Contáctanos aquí:</p>
                            <p> Whatsapp: (+57) 310-8080385</p>
                            <p>Email: juancahernandezgmail.com</p>
                    </ul>
                    <i class="fa-sharp fa-solid fa-plus"></i>  
                </div>      
            </div>  
        </div>
    </section>
</footer>
