form {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: Tajawal;

    .field {
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        width: 100%;
    }
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: aqua;
    color:black;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

