<!-- <pre style="color: orange;">{{prominentProducts|json}}</pre> -->
<main>
    <app-carrusel> </app-carrusel>

<ul class="product-list">
    @for (item of products; track $index) {
    <li class="product-list-item">
        <div class="card" [routerLink] ="['../product','detail', item._id]"  >
            <img class="product-image" [src]="item.urlImage" [alt]="item.name" style="width:100%">
            <div class="product-info">
                <h4> {{item.name}}</h4>
                <p class="price"> {{item.price | currency}} </p>
                <p class="text-quantiy">Cantidad</p>
                <div class="extra">
                    <p class="quantity"> {{item.quantity}} </p>
                    <p class="category"> {{item.category.categoria}} </p>
                    <span class="btn btn-add-cart" (click)="addToCart(item)">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </span>
                </div>
                
            </div>
        </div>
    </li>
    }

</ul>